<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to 'Logout', logout_path %>
    <%= link_to 'Create a Survey', new_survey_path %>
  <% end %>
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
<%= yield %>

</body>
</html>
